/* Imports */

/* Font faces */
@font-face {
	font-family: Inter;
	src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Custom properties */
:root {
	--font-size: 16px;
	--font-family: Inter, sans-serif;
	--spacing: .75em;
	--border-radius: 5px;

	--primary-color: #FFE400;
	--secondary-color: #64748B;
	--accent-color: #0000FF;

	--success-color: #22C55E;
	--info-color: #3B82F6;
	--warning-color: #F59E0B;
	--danger-color: #EF4444;

	--body-padding: 1em;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

/* Defaults */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: #FFFECA;
}

/* Body styling */
body {
	display: flex;
	flex-flow: column;
}

body > header,
body > footer {
	flex: 0 1 auto;
}

body > main {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

body > header,
body > main,
body > footer {
	padding: var(--spacing) var(--body-padding);
}

/* Custom styles */

body > header {
	padding-block: var(--spacing);
	border-bottom: 2px solid #EEEDBD;
}

main > header {
	color: var(--accent-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .75em;
}

main > header > h1 > small {
	font-size: .6em;
	font-weight: normal;
}
main > header > h1 > div > span {
	display: block;
}

main > header > img {
	height: 86.40px;
}

main > div {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 10);
}

article {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

article > header > h2 {
	color: var(--accent-color);
}

.card {
	position: relative;
	background: white;
	color: var(--accent-color);
}

.card > div {
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.card > div > h2 {
	display: inline;
	position: absolute;
	transform: translateY(-100%);
	background: white;
	right: 0;
}

.card:nth-child(even) > header > h2 {
	right: unset;
}

#numbers-and-facts-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

#numbers-and-facts-list > li {
	padding: var(--spacing) calc(var(--spacing) * 1.5);
	background: var(--primary-color);
	color: var(--accent-color);
	border-radius: 1.5em;
}
#numbers-and-facts-list > li > .amount {
	/* font-size: 5em; */
	font-weight: 700;
}

article.quote > header > img {
	width: 15em;
	height: 15em;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	margin-inline: auto;
}

.timeline > div > ul {
	list-style: none;
	position: relative;
}
.timeline > div > ul::before {
	content: '';
	width: 1px;
	height: 100%;
	background: var(--accent-color);
	position: absolute;
	left: .5rem;
	transform: translateX(-50%);
}
.timeline > div > ul > li {
	padding: var(--spacing);
	padding-left: 2em;
}

.timeline > div > ul > li > article > header > h3 {
	color: var(--accent-color);
}

.timeline > div > ul > li > article > header > h3::before {
	content: '';
	height: 1em;
	width: 1em;
	background: var(--accent-color);
	position: absolute;
	left: 0;
	border-radius: 50%;
}

#timetravel-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
#timetravel-list > li > img {
	height: 100%;
	object-fit: fill;
}

#form {
	position: relative;
	padding-bottom: 14rem;
}

#form > header {
	background-color: var(--primary-color);
	padding: var(--spacing);
	color: #0000FF;
	font-size: 1.5em;
	padding-bottom: 12rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	background: white;
	padding: var(--spacing);
	position: absolute;
	transform: translateX(.5rem) translateY(50%);
	width: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

form > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

form > fieldset > label {
	font-weight: 400;
	color: var(--accent-color);
}

input[type='text'],
textarea {
	padding: var(--spacing);
	border: none;
	border-bottom: 2px solid var(--accent-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	background: #EDEDED;
}

button {
	border: 1px solid var(--accent-color);
	background: var(--accent-color);
	padding: var(--spacing);
	color: white;
	font-weight: 700;
	width: min-content;
	border-radius: var(--border-radius);
	display: flex;
	gap: .5em;
	white-space: nowrap;
}

button > svg {
	height: 1em;
	width: 1em;
}

/*  Media queries */

/* - Small */
@media (min-width: 576px) {
	:root {
		--body-padding: calc(100vw - var(--breakpoint-sm));
	}
}

/* - Medium */
@media (min-width: 768px) {
	:root {
		--body-padding: calc(100vw - var(--breakpoint-md));
	}
}

/* - Large */
@media (min-width: 992px) {
	:root {
		--body-padding: calc(100vw - var(--breakpoint-lg));
		--font-size: 18px;
	}

	main > header > h1 {
		font-size: 3em;
	}

	main > header > img {
		height: 146.4px;
	}

	/* .card {
		width: 75%;
		padding-left: 25%;
		margin-left: 21%;
		padding-block: 2em;
	}

	.card > header > h2 {
		display: block;
		position: unset;
		transform: unset;
	} */

	#numbers-and-facts-list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.timeline > div > ul::before {
		left: 50%;
	}

	#timetravel-list {
		grid-template-columns: repeat(4, 1fr);
	}

	.timeline > div > ul > li:nth-child(even) {
		padding-left: calc(50% + 1em);
	}

	.timeline > div > ul > li:nth-child(odd) {
		padding-right: calc(50% + 1em);
		text-align: right;
	}

	.timeline > div > ul > li > article > header > h3::before {
		left: 50%;
		transform: translateX(-50%);
	}

	#form > header {
		padding-bottom: 1em;
		padding-right: 60%;
	}

	#form > header > h2 {
		font-size: 2em;
	}

	#form > form {
		width: 50%;
		transform: translateX(90%) translateY(-25%);
	}
}

/* - Extra Large */
@media (min-width: 1200px) {
	:root {
		--body-padding: calc(100vw - var(--breakpoint-xl));
	}
}