/* Imports */

/* Font faces */
@font-face {
	font-family: Inter;
	src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Custom properties */
:root {
	--font-size: 1em;
	--font-family: Inter, sans-serif;
	--spacing: .75em;
	--border-radius: 5px;

	--primary-color: #FFE400;
	--secondary-color: #64748B;
	--accent-color: #0000FF;

	--success-color: #22C55E;
	--info-color: #3B82F6;
	--warning-color: #F59E0B;
	--danger-color: #EF4444;

	--body-padding: calc(((100vw - var(--max-screen-width)) / 2) + var(--spacing));
	--max-screen-width: 100%;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

/* Defaults */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: #FFFECA;
}

/* Body styling */
body {
	display: flex;
	flex-flow: column;
}

body > header,
body > footer {
	flex: 0 1 auto;
}

body > main {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 5);
}

body > header,
body > main,
body > footer {
	padding: var(--spacing) var(--body-padding);
}

/* Custom styles */

body > header {
	padding-block: var(--spacing);
	border-bottom: 2px solid #EEEDBD;
}

main > header {
	padding-top: calc(var(--spacing) * 3);
	color: var(--accent-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .75em;
}

main > header > h1 > small {
	font-size: .6em;
	font-weight: normal;
}
main > header > h1 > div > span {
	display: block;
}

main > header > img {
	height: 86.40px;
}

main > div {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 10);
}

article {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

article > header > h2 {
	color: var(--accent-color);
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	background: white;
	color: var(--accent-color);
	font-size: .75em;
}

.card > div {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 2em;
	position: relative;
}

.card > div > h2 {
	font-weight: 700;
	padding: 1rem 2rem;
	background: white;
	display: inline;
	position: absolute;
	top: 0;
	right: calc(0px - 1px);
	transform: translateY(calc(-100% + 1px));
}

.card.reverse > div > h2 {
	right: unset;
	left: calc(0px - 1px);
}

#numbers-and-facts-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing);
	font-size: .75em;
}

#numbers-and-facts-list > li {
	padding: var(--spacing) calc(var(--spacing) * 1.5);
	background: var(--primary-color);
	color: var(--accent-color);
	border-radius: 1.5em;
}
#numbers-and-facts-list > li > .amount {
	/* font-size: 5em; */
	font-weight: 700;
}

article.quote > img {
	width: 15em;
	height: 15em;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	margin-inline: auto;
	margin-bottom: auto;
	flex: 0 0 15em;
}

article.quote > div {
	display: flex;
	flex-direction: column;
	gap: .75em;
}

article.quote > div > h2 {
	color: var(--accent-color);
}

.timeline > div > ul {
	list-style: none;
	position: relative;
}
.timeline > div > ul::before {
	content: '';
	width: 1px;
	height: 100%;
	background: var(--accent-color);
	position: absolute;
	left: .5rem;
	transform: translateX(-50%);
}
.timeline > div > ul > li {
	padding: var(--spacing);
	padding-left: 2em;
}

.timeline > div > ul > li > article > header > h3 {
	color: var(--accent-color);
}

.timeline > div > ul > li > article > header > h3::before {
	content: '';
	height: 1em;
	width: 1em;
	background: var(--accent-color);
	position: absolute;
	left: 0;
	border-radius: 50%;
}

.timeline > div > ul > li > article > div {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

#timetravel-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
#timetravel-list > li > img {
	height: 100%;
	object-fit: fill;
}

#form {
	position: relative;
	padding-bottom: 10rem;
}

#form > header {
	background-color: var(--primary-color);
	padding: var(--spacing);
	color: #0000FF;
	font-size: 1em;
	padding-bottom: 12rem;
}

#form > header > h2 {
	text-align: left;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	background: white;
	padding: var(--spacing);
	position: absolute;
	transform: translateX(.5rem) translateY(40%);
	width: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

form > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

form > fieldset > label {
	font-weight: 400;
	font-size: .5em;
	color: var(--accent-color);
	width: 100%;
}

input[type='text'],
textarea {
	padding: var(--spacing);
	border: none;
	border-bottom: 2px solid var(--accent-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	background: #EDEDED;
	width: 100%;
}

*::placeholder {
	font-family: var(--font-family);
}

button {
	border: 1px solid var(--accent-color);
	background: var(--accent-color);
	padding: var(--spacing);
	color: white;
	font-weight: 700;
	width: fit-content;
	border-radius: var(--border-radius);
	display: flex;
	gap: .5em;
	white-space: nowrap;
	cursor: pointer;
}

button > svg {
	height: 1em;
	width: 1em;
}

#congratulations-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#congratulations-list > li {
	display: flex;
}

#congratulations-list > li > div:nth-child(1) {
	display: none;
}
#congratulations-list > li > div:nth-child(2) {
	border-left: 1px solid var(--accent-color);
	padding-left: 1em;
}
#congratulations-list > li > div:nth-child(2) > p {
	display: flex;
	flex-direction: column;
	gap: .5em;
}
#congratulations-list > li > div:nth-child(2) > p > span:nth-child(1) {
	display: block;
	color: var(--accent-color);
}
#congratulations-list > li > div:nth-child(2) > p > span:nth-child(2) {
	font-size: .75em;
}

/*  Media queries */

/* - Small */
@media (min-width: 576px) {
	:root {
		--font-size: 1.2em;
		--max-screen-width: var(--breakpoint-sm);
	}
}

/* - Medium */
@media (min-width: 768px) {
	:root {
		--max-screen-width: var(--breakpoint-md);
	}

	.card {
		display: flex;
		flex-direction: row;
		margin-left: 25%;
	}

	.card.reverse {
		flex-direction: row-reverse;
		margin-left: 0;
		margin-right: 25%;
	}

	.card > img,
	.card > div {
		width: 75%;
		padding: 2em;
	}

	.card > img {
		padding: 2em;
		transform: translateX(-50%);
		object-fit: cover;
	}

	.card.reverse > img {
		transform: translateX(50%);
	}

	.card > div {
		display: flex;
		flex-direction: column;
		gap: 2em;
		margin-left: calc(-25% - 7em);
	}

	.card.reverse > div {
		margin-left: 0;
		margin-right: calc(-25% - 7em);
	}

	.card > div > h2 {
		position: initial;
		transform: translateY(0);
		display: block;
		padding: 0;
	}

	.timeline > div > ul::before {
		left: 50%;
	}

	#timetravel-list {
		grid-template-columns: repeat(4, 1fr);
	}

	.timeline > div > ul > li:nth-child(even) {
		padding-left: calc(50% + 1em);
	}

	.timeline > div > ul > li:nth-child(odd) {
		padding-right: calc(50% + 1em);
		text-align: right;
	}

	.timeline > div > ul > li > article > header > h3::before {
		left: 50%;
		transform: translateX(-50%);
	}

	#form {
		padding-bottom: 0;
	}

	#form > form {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#form > form > fieldset:nth-child(1),
	#form > form > fieldset:nth-child(2) {
		width: calc(50% - .5em);
	}

	#form > form > fieldset:nth-child(3),
	#form > form > fieldset:nth-child(4) {
		width: 100%;
	}

	#form > header {
		padding-bottom: 1em;
		padding-right: 60%;
	}

	#form > header > h2 {
		font-size: 2em;
	}

	#form > form {
		width: 50%;
		top: 50%;
		transform: translateX(90%) translateY(-50%);
	}

	#congratulations-list > li > div:nth-child(1) {
		display: block;
		padding-right: 1em;
		flex: 0 0 10em;
		white-space: nowrap;
	}

}

/* - Large */
@media (min-width: 992px) {
	:root {
		--max-screen-width: var(--breakpoint-lg);
	}

	main > header {
		padding-top: calc(var(--spacing) * 3);
	}

	main > header > h1 {
		font-size: 3em;
	}

	main > header > img {
		height: 146.4px;
	}

	article.quote {
		flex-direction: row;
	}
	article.quote > img {
		height: 8em;
		width: 8em;
		flex: 0 0 8em;
	}
}

/* - Extra Large */
@media (min-width: 1200px) {
	:root {
		--font-size: 1.5em;
		--max-screen-width: var(--breakpoint-xl);
	}
}