/* Imports */

/* Font faces */
@font-face {
	font-family: Inter;
	src: url('assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Custom properties */
:root {
	--font-size: 16px;
	--font-family: Inter, sans-serif;
	--spacing-block: 1em;
	--spacing-inline: .75em;
	--border-radius: 5px;

	--primary-color: #FFE400;
	--secondary-color: #64748B;
	--accent-color: #0000FF;

	--success-color: #22C55E;
	--info-color: #3B82F6;
	--warning-color: #F59E0B;
	--danger-color: #EF4444;

	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

/* Defaults */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: #FFFECA;
}

/* Body styling */
body {
	display: flex;
	flex-flow: column;
}

body > header,
body > footer {
	flex: 0 1 auto;
}

body > main {
	flex: 1 1 auto;
	padding-block: var(--spacing-block);
	padding-inline: var(--spacing-inline);
}

body > header {
	padding-block: var(--spacing-block);
	padding-inline: var(--spacing-inline);
	border-bottom: 2px solid #EEEDBD;
}

/*  Media queries */

/* - Small */
@media (min-width: 576px) {

}

/* - Medium */
@media (min-width: 768px) {

}

/* - Large */
@media (min-width: 992px) {

}

/* - Extra Large */
@media (min-width: 1200px) {

}

#form {
	position: relative;
}

#form > header {
	background-color: var(--primary-color);
	padding-block: var(--spacing-block);
	padding-inline: var(--spacing-inline);
	color: #0000FF;
	font-size: 1.5em;
	padding-bottom: 12rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-inline);
	background: white;
	padding-block: var(--spacing-block);
	padding-inline: var(--spacing-inline);
	position: absolute;
	transform: translateX(.5rem) translateY(-10.5rem);
	width: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

form > fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-inline);
}

form > fieldset > label {
	font-weight: 400;
	color: var(--accent-color);
}

input[type='text'],
textarea {
	padding-block: var(--spacing-block);
	padding-inline: var(--spacing-inline);
	border: none;
	border-bottom: 2px solid var(--accent-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	background: #EDEDED;
}

button {
	border: 1px solid var(--accent-color);
	background: var(--accent-color);
	padding: var(--spacing-inline) var(--spacing-block);
	color: white;
	font-weight: 700;
	width: min-content;
	border-radius: var(--border-radius);
}

.envelope {
	height: 300px;
	background: black;
	border-radius: var(--border-radius);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
	overflow: hidden;
}

.envelope .flap {
	height: 100%;
	background-image:
		linear-gradient(45deg, white 50%, transparent 50%, transparent),
		linear-gradient(-45deg, white 50%, transparent 50%, transparent);
	background-size: 100%;
	background-position: 50% 0, 0 0;
	background-repeat: no-repeat;
}